<a href="https://colab.research.google.com/github/IliyaPaulina/3mtt-IliyaP/blob/main/ASSESSMENT_WEEK_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Build a Python program utilizing data structures, conditional statements, and functions to solve a data-related task.

(List, Statement ,  Dictionary, Tuples)

In [ ]:
# modifyng a listlist
lst = ['string, true, 34']

In [ ]:
# initialise a list function
lst1 = (list)
lst1

list

In [ ]:
# create a new list
lst2 = ['Tala', 'Mami', 'Peena', 'Peggy', 'Bala']
lst2

['Tala', 'Mami', 'Peena', 'Peggy', 'Bala']

In [ ]:
# add to a list
lst2.append ('Jacob')
lst2

['Tala', 'Mami', 'Peena', 'Peggy', 'Bala', 'Jacob']

In [ ]:
# add an element
lst2[0] = 'Pamela'
lst2

['Pamela', 'Mami', 'Peena', 'Peggy', 'Bala', 'Jacob']

In [ ]:
lst2 = ['Tala', 'Mami', 'Peena', 'Peggy', 'Bala']
lst2

['Tala', 'Mami', 'Peena', 'Peggy', 'Bala']

In [ ]:
#remove an element
lst2.remove('Mami')
lst2

['Tala', 'Peena', 'Peggy', 'Bala']

Statement

In [ ]:
# if statement
lst = ['string true 34']

In [ ]:
lst

['string true 34']

In [ ]:
n ==34
print (n)

34

In [ ]:
   print(n**2)

1156

In [ ]:
age = 26
if age <= 18:
  print('you are not qualified to vote')

you are not qualified to vote

In [ ]:
# if -else
if age <= 18:
  print('you are not qualified to vote')
else:
  print('you are qualified')

you are qualified

SET

In [ ]:
# displaying values
my_set = {1, 2, 3, 4, 5}

In [ ]:
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set2 = {9,9,8,5,7,2,1,3,0,9,4,4,7,8,3,4,2,7}

In [ ]:
my_set2

{0, 1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
my_set3 = {'number', 'name', 'address', 'location',}

In [ ]:
my_set3

{'address', 'location', 'name', 'number'}

Functions

In [ ]:
name = ('prince')
print(name)

prince

In [ ]:
# defined a function called greet
def greet(name):
    print ("hello," + name)

In [ ]:
# call the function
greet ("Prince")

hello,Prince