<a href="https://colab.research.google.com/github/IliyaPaulina/3mtt-IliyaP/blob/main/Assignment_week_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment week 5
â€¢	Use Pandas to clean and preprocess a messy dataset, documenting the steps taken during the cleaning process.

Importing pandas library

In [ ]:
# importing pandas
import pandas as pd

Checking pandas Version

In [ ]:
print (pd.__version__)

1.5.3

Creating pandas DataFrame

In [ ]:
#creating dictionary containing data
data = {'name': ['Cow','Dog','Tiger','Lion','Monkey','Hen','Sheep','Owl'],
        'Age': [12, 20, 33, 15, 42, 30, 14, 16],
        'Gender': ['male','male','female','male','female','female','male','female']}

create a data frame from dictionary

In [ ]:
#creating a DataFrame from dictionary
df = pd.DataFrame (data)

Display dataFrame

In [ ]:
#display DataFrame
print(df)

     name  Age  Gender
0     Cow   12    male
1     Dog   20    male
2   Tiger   33  female
3    Lion   15    male
4  Monkey   42  female
5     Hen   30  female
6   Sheep   14    male
7     Owl   16  female

Basic information about the DataFrame

In [ ]:
#information about DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   Age     8 non-null      int64
 2   Gender  8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes
None

calculating descriptive statistics

In [ ]:
#calculating descriptive statisics
print (df.describe ())

             Age
count   8.000000
mean   22.750000
std    10.911986
min    12.000000
25%    14.750000
50%    18.000000
75%    30.750000
max    42.000000

filter rows based on conditions

In [ ]:
#filter the columnn of age greater than 30
filtered_df = [df ['Age']>30]
print(filtered_df)

[0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
Name: Age, dtype: bool]

In [ ]:
#filter the columnn of age less than 30
filtered_df = [df ['Age']<30]
print(filtered_df)

[0     True
1     True
2    False
3     True
4    False
5    False
6     True
7     True
Name: Age, dtype: bool]

In [ ]:
#filter the column of age>=30
filtered_df = [df['Age']>=30]
print (filtered_df)

[0    False
1    False
2     True
3    False
4     True
5     True
6    False
7    False
Name: Age, dtype: bool]

filtering Gender from DataFrame

In [ ]:
#filtering gender of male
filtered_df = [df['Gender'] == 'male']
print(filtered_df)

[0     True
1     True
2    False
3     True
4    False
5    False
6     True
7    False
Name: Gender, dtype: bool]

In [ ]:
#import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print(pd.__version__)

1.5.3

In [ ]:
#creating dictionary containing data
data = {'name': ['Cow','Dog','Tiger','Lion','Monkey','Hen','Sheep','Owl'],
        'Age': [12, 20, 33, 15, 42, 30, 14, 16],
        'Gender': ['male','male','female','male','female','female','male','female']}

In [ ]:
#creating a DataFrame from dictionary
df = pd.DataFrame (data)
print ("original Data:\n",df)
print ()

#remove rows wth femal using dropna

df_cleaned = df.dropna()
print("cleaned Data:\n",df_cleaned)

original Data:
      name  Age  Gender
0     Cow   12    male
1     Dog   20    male
2   Tiger   33  female
3    Lion   15    male
4  Monkey   42  female
5     Hen   30  female
6   Sheep   14    male
7     Owl   16  female

cleaned Data:
      name  Age  Gender
0     Cow   12    male
1     Dog   20    male
2   Tiger   33  female
3    Lion   15    male
4  Monkey   42  female
5     Hen   30  female
6   Sheep   14    male
7     Owl   16  female

In [ ]:
df = pd.DataFrame(data)

Renaming Columns

In [ ]:
#rename columns
df.rename(columns={'name': 'Suna','Age': 'shekara','Gender':'Yanayi'}, inplace=True)
print(df.to_string(index=False))

  Suna  shekara  Yanay
   Cow       12   male
   Dog       20   male
 Tiger       33 female
  Lion       15   male
Monkey       42 female
   Hen       30 female
 Sheep       14   male
   Owl       16 female

In [ ]:
df.fillna(df.mean (), inplace=True)
print ("\nData after fillingNaN with mean:\n",df)

Data after fillingNaN with mean:
      Suna  shekara   Yanay
0     Cow       12    male
1     Dog       20    male
2   Tiger       33  female
3    Lion       15    male
4  Monkey       42  female
5     Hen       30  female
6   Sheep       14    male
7     Owl       16  female

<ipython-input-37-e5f9990fa81b>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean (), inplace=True)